@using TatBlog.Services.Blogs;
@model TatBlog.WebApp.Areas.Admin.Models.AuthorFilterModel
@*Hiển thị form search*@
@{
    var viewData = ViewData["PagerQuery"] as PagerQuery ?? new PagerQuery { Area = "Admin", Controller = "Posts", Action = "Index" };
}

<div class="mb-4">
    <form method="get"
          class="row gy-2 gx-3 align-items-center"
          asp-area="@viewData.Area"
          asp-controller="@viewData.Controller"
          asp-action="@viewData.Action">
        <div class="col-auto">
            <label class="visually-hidden" asp-for="Keyword"></label>
            <input type="text" class="form-control" placeholder="Nhập từ khóa để tìm kiếm..." asp-for="Keyword">
        </div>
        @*add*@

        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Tìm/lọc</button>
            <a class="btn btn-info"
               asp-area="@viewData.Area"
               asp-controller="@viewData.Controller"
               asp-action="Index">
                Bỏ lọc
            </a>
            <a class="btn btn-success"
               asp-area="@viewData.Area"
               asp-controller="@viewData.Controller"
               asp-action="Edit">
                Thêm mới
            </a>
        </div>
    </form>
</div>


<div class="col-auto">
    <label class="visually-hidden" asp-for="Email"></label>
    <input type="text" class="form-control" placeholder="Nhập email tác giả ..." asp-for="Email">
</div>
