@using TatBlog.Core.Contracts;
@using TatBlog.Core.Entities;
@model TatBlog.WebApp.Areas.Admin.Models.PostFilterModel
@{
    ViewData["PageTitle"] = "Danh sách bài viết";
    var postsList = ViewBag.PostsList as IPagedList<Post>;
    var categoryList = new List<SelectListItem>
    {
        new SelectListItem("Co", "true"),
        new SelectListItem("Khong", "false")
    };
}
<h1>
    Danh sách bài viết
</h1>
@*Hiển thị form để tìm bài viết*@

<partial name="_PostFilterPane" model=@Model />

@if (postsList != null && postsList.Count > 0)
{
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Chủ đề</th>
                <th scope="col">Xuất bản</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in postsList)
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                   asp-controller="Posts"
                   asp-action="Edit"
                   asp-route-id="@post.Id"
                   class="text-bold">
                            @post.Title
                        </a>
                        <p class="text-muted">
                            @post.ShortDescription
                        </p>
                    </td>
                    <td>
                        @post.Author.FullName
                    </td>
                    <td>
                        @post.Category.Name
                    </td>
                    <td>
                        @*<select class="form-select" aria-label="Default select example"
                asp-for="@post.CategoryId" asp-items="@categoryList">

                </select>*@
                        @*@(post.Published ? "Có" : "Không")*@
                        @*<button type="button" onclick="" class="btn btn-sm @(post.Published ? "btn-primary" : "btn-danger")">
                @if (post.Published)
                {
                <a asp-area="Admin"
                asp-controller="Posts"
                asp-action="ChangePublished"
                asp-route-id=@post.Id
                class="btn btn-primary">
                Có
                </a>
                }
                else
                {
                <a asp-area="Admin"
                asp-controller="Posts"
                asp-action="ChangePublished"
                asp-route-id=@post.Id
                class="btn btn-secondary">
                Không
                </a>
                }
                </button>*@
                        <form method="post"
                      enctype="multipart/form-data"
                      asp-area="Admin"
                      asp-controller="Posts"
                      asp-action="PublishChanged">
                            <input type="hidden" name="postId" value="@post.Id" />
                            <div class="form-check">
                                <input class="form-check-input"
                               type="checkbox"
                               onChange="this.form.submit()"
                               @(post.Published ? "checked" : "") />
                            </div>
                        </form>
                    </td>
                    <td>
                        <button type="button" value="@post.Id" class="btn btn-danger" data-bs-target="#deleteModal" data-bs-toggle="modal">
                            Xóa
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PaginatePage" model=@postsList />
}
else
{
    <h4>
        Không tìm thấy bài viết nào
    </h4>
}
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa bài viết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa bài viết này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="btn-delete-post" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>
<form method="post"
      name="delete-post-form"
      enctype="multipart/form-data"
      asp-area="Admin"
      asp-controller="Posts"
      asp-action="DeletePost">
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var postId;
        var deleteForm = document.forms['delete-post-form'];
        var btnDeletePost = document.getElementById('btn-delete-post');
        // When dialog confirm clicked
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            postId = button.val();
        });

        // When delete post btn clicked
        btnDeletePost.onclick = function () {
            deleteForm.action += "/" + postId;
            deleteForm.submit();
        }
    });
</script>